# Ignore n8n local database and credentials
n8n_data/
.env
veloce_session.*
.venv/
__pycache__/
*.pyc
*.db
*.sqlite
*.sqlite-shm
*.sqlite-wal
data/*

# Logs
data/*.log
data/*.log.*

veloce_config.json
*.session

# Allow tracking of exported workflows
!workflows/